// FONTS
$font_inter: 'Inter', sans-serif;
$font_lobster: 'Lobster', cursive;

// COLORS
$col_black: #000;
$col_white: #fff;

// SIZES
$break_point_tablet: 480px;
$break_point_desktop: 768px;

$max-width-tablet: 900rem;
$max-width-desktop: 1200rem;
