.main {
  padding: 30rem;
}

.resultsCKT-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.cocktailCard {
  width: 310rem;
  padding: 30rem;
  margin-bottom: 20rem;

  position: relative;

  background-color: beige;
  border-radius: 10rem;

  &__icon-favourite {
    position: absolute;
    top: 10rem;
    right: 10rem;

    font-size: 20rem;

    color: red;

    // CAMBIAR "fa-regular" por "fa-solid" al meter en favoritos.
    &:hover {
      cursor: pointer;
    }
  }

  &__icon-glass {
    position: absolute;
    top: 10rem;
    right: 40rem;

    font-size: 20rem;

    color: red;

    // CAMBIAR "fa-regular" por "fa-solid" al meter en favoritos.
    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    font-size: 20rem;
    margin-bottom: 10rem;
  }

  &__img {
    width: 250rem;
    height: 250rem;
    margin-bottom: 10rem;
  }

  &__alcoholic {
    text-align: right;
    font-size: 14rem;
  }

  &__ingredients {
    text-transform: uppercase;
    margin-bottom: 10rem;
  }
  &__list-ingredients {
    &__li {
      margin-left: 30rem;
    }
  }
}

.favorite {
  background-color: pink;
}
