<section class="drinked">
  <div class="drinked__cont-title">
    <div class="drinked__cont-title__img"></div>
    <h4 class="drinked__cont-title__title title--h4 js_counter_dri">Bebidos</h4>
    <!-- <i class="drinked__cont-title__chevron fa-solid fa-chevron-down"></i> -->
  </div>
  <!-- CONSTRUCTOR -->
  <div class="constructor--favDri js_list_drinked_CKT">
    <div class="constructorEmpty js_constructorEmpty_dri">
      <p class="constructorEmpty__p title--h4">
        Aún no te has bebido níngun cóctel
      </p>
      <p class="constructorEmpty__p title--h5">
        Prueba a pinchar su coctelera ;)
      </p>
      <div class="constructorEmpty__imgDri"></div>
    </div>
  </div>
</section>
