<section class="favorites">
  <div class="favorites__cont-title">
    <div class="favorites__cont-title__img"></div>
    <h4 class="favorites__cont-title__title title--h4 js_counter_fav">
      Mis favoritos
    </h4>
    <!-- <i class="favorites__cont-title__chevron fa-solid fa-chevron-down"></i> -->
  </div>
  <!-- CONSTRUCTOR -->
  <div class="constructor--favDri js_list_favorites_CKT">
    <div class="constructorEmpty">
      <p class="constructorEmpty__p title--h4">
        Aún no has añadido níngun cóctel
      </p>
      <p class="constructorEmpty__p title--h5">
        Prueba a pinchar su corazón ;)
      </p>
      <div class="constructorEmpty__imgFav"></div>
    </div>
  </div>
</section>
